<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>㳈字边</key>
		<string>㳈字边.glif</string>
		<key>䏓字旁</key>
		<string>䏓字旁.glif</string>
		<key>万无横</key>
		<string>万无横.glif</string>
		<key>三竖</key>
		<string>三竖.glif</string>
		<key>与无横</key>
		<string>与无横.glif</string>
		<key>丘无横</key>
		<string>丘无横.glif</string>
		<key>丙三</key>
		<string>丙三.glif</string>
		<key>业无横</key>
		<string>业无横.glif</string>
		<key>东二</key>
		<string>东二.glif</string>
		<key>丝左角</key>
		<string>丝左角.glif</string>
		<key>丧字头</key>
		<string>丧字头.glif</string>
		<key>临下角</key>
		<string>临下角.glif</string>
		<key>临右角</key>
		<string>临右角.glif</string>
		<key>临字旁</key>
		<string>临字旁.glif</string>
		<key>为字框</key>
		<string>为字框.glif</string>
		<key>丽下角</key>
		<string>丽下角.glif</string>
		<key>举字底</key>
		<string>举字底.glif</string>
		<key>久二</key>
		<string>久二.glif</string>
		<key>乌省</key>
		<string>乌省.glif</string>
		<key>乐二</key>
		<string>乐二.glif</string>
		<key>乔字底</key>
		<string>乔字底.glif</string>
		<key>争字底</key>
		<string>争字底.glif</string>
		<key>于无横</key>
		<string>于无横.glif</string>
		<key>亥无亠无人</key>
		<string>亥无亠无人.glif</string>
		<key>亦字底</key>
		<string>亦字底.glif</string>
		<key>亦字底无八</key>
		<string>亦字底无八.glif</string>
		<key>享字头</key>
		<string>享字头.glif</string>
		<key>亮字头</key>
		<string>亮字头.glif</string>
		<key>以字旁</key>
		<string>以字旁.glif</string>
		<key>余字底</key>
		<string>余字底.glif</string>
		<key>修字旁</key>
		<string>修字旁.glif</string>
		<key>候右角</key>
		<string>候右角.glif</string>
		<key>傻下角</key>
		<string>傻下角.glif</string>
		<key>充字头</key>
		<string>充字头.glif</string>
		<key>免字底</key>
		<string>免字底.glif</string>
		<key>全字头</key>
		<string>全字头.glif</string>
		<key>其字头</key>
		<string>其字头.glif</string>
		<key>具字头</key>
		<string>具字头.glif</string>
		<key>典字头带横</key>
		<string>典字头带横.glif</string>
		<key>养字头</key>
		<string>养字头.glif</string>
		<key>兼无䒑无彐</key>
		<string>兼无䒑无彐.glif</string>
		<key>冒字头</key>
		<string>冒字头.glif</string>
		<key>冬字底</key>
		<string>冬字底.glif</string>
		<key>凸无横</key>
		<string>凸无横.glif</string>
		<key>凹无横</key>
		<string>凹无横.glif</string>
		<key>刀中</key>
		<string>刀中.glif</string>
		<key>別字旁底</key>
		<string>別字旁底.glif</string>
		<key>化字边</key>
		<string>化字边.glif</string>
		<key>北字旁</key>
		<string>北字旁.glif</string>
		<key>千二</key>
		<string>千二.glif</string>
		<key>卑六</key>
		<string>卑六.glif</string>
		<key>卖字头</key>
		<string>卖字头.glif</string>
		<key>南字心</key>
		<string>南字心.glif</string>
		<key>卢字头</key>
		<string>卢字头.glif</string>
		<key>卧人</key>
		<string>卧人.glif</string>
		<key>卬字旁</key>
		<string>卬字旁.glif</string>
		<key>卯字旁</key>
		<string>卯字旁.glif</string>
		<key>印字旁</key>
		<string>印字旁.glif</string>
		<key>即字旁</key>
		<string>即字旁.glif</string>
		<key>卸字旁</key>
		<string>卸字旁.glif</string>
		<key>及二</key>
		<string>及二.glif</string>
		<key>反字框</key>
		<string>反字框.glif</string>
		<key>发无又</key>
		<string>发无又.glif</string>
		<key>变字头</key>
		<string>变字头.glif</string>
		<key>变字头无亠</key>
		<string>变字头无亠.glif</string>
		<key>叚右角</key>
		<string>叚右角.glif</string>
		<key>叚字旁无二</key>
		<string>叚字旁无二.glif</string>
		<key>同字心</key>
		<string>同字心.glif</string>
		<key>后字框</key>
		<string>后字框.glif</string>
		<key>向字框</key>
		<string>向字框.glif</string>
		<key>告字头</key>
		<string>告字头.glif</string>
		<key>周字框</key>
		<string>周字框.glif</string>
		<key>噩字框</key>
		<string>噩字框.glif</string>
		<key>囊字头</key>
		<string>囊字头.glif</string>
		<key>四竖</key>
		<string>四竖.glif</string>
		<key>囱字框</key>
		<string>囱字框.glif</string>
		<key>在字框</key>
		<string>在字框.glif</string>
		<key>埓上角</key>
		<string>埓上角.glif</string>
		<key>壳字头</key>
		<string>壳字头.glif</string>
		<key>夜下角</key>
		<string>夜下角.glif</string>
		<key>大框</key>
		<string>大框.glif</string>
		<key>夫三</key>
		<string>夫三.glif</string>
		<key>奐字腰</key>
		<string>奐字腰.glif</string>
		<key>妻字头</key>
		<string>妻字头.glif</string>
		<key>妻字头无横</key>
		<string>妻字头无横.glif</string>
		<key>姊字边</key>
		<string>姊字边.glif</string>
		<key>学字头</key>
		<string>学字头.glif</string>
		<key>学无子</key>
		<string>学无子.glif</string>
		<key>定字底</key>
		<string>定字底.glif</string>
		<key>寒字头</key>
		<string>寒字头.glif</string>
		<key>寒字腰</key>
		<string>寒字腰.glif</string>
		<key>寒字腰带八</key>
		<string>寒字腰带八.glif</string>
		<key>寿字头</key>
		<string>寿字头.glif</string>
		<key>少三</key>
		<string>少三.glif</string>
		<key>尚头</key>
		<string>尚头.glif</string>
		<key>尚字头</key>
		<string>尚字头.glif</string>
		<key>尧字头</key>
		<string>尧字头.glif</string>
		<key>展字心</key>
		<string>展字心.glif</string>
		<key>屯无横</key>
		<string>屯无横.glif</string>
		<key>山一</key>
		<string>山一.glif</string>
		<key>左字框</key>
		<string>左字框.glif</string>
		<key>差字头</key>
		<string>差字头.glif</string>
		<key>师字旁</key>
		<string>师字旁.glif</string>
		<key>带字头</key>
		<string>带字头.glif</string>
		<key>年字底</key>
		<string>年字底.glif</string>
		<key>应字心</key>
		<string>应字心.glif</string>
		<key>度字框</key>
		<string>度字框.glif</string>
		<key>延字心</key>
		<string>延字心.glif</string>
		<key>延字心无撇</key>
		<string>延字心无撇.glif</string>
		<key>弟省</key>
		<string>弟省.glif</string>
		<key>弟省无弓</key>
		<string>弟省无弓.glif</string>
		<key>彀左角</key>
		<string>彀左角.glif</string>
		<key>录字头</key>
		<string>录字头.glif</string>
		<key>彧字框</key>
		<string>彧字框.glif</string>
		<key>微字框</key>
		<string>微字框.glif</string>
		<key>恭字底</key>
		<string>恭字底.glif</string>
		<key>惠字头</key>
		<string>惠字头.glif</string>
		<key>扁字心</key>
		<string>扁字心.glif</string>
		<key>拜字边</key>
		<string>拜字边.glif</string>
		<key>拣字边无七</key>
		<string>拣字边无七.glif</string>
		<key>敖字旁</key>
		<string>敖字旁.glif</string>
		<key>旅下角</key>
		<string>旅下角.glif</string>
		<key>无三</key>
		<string>无三.glif</string>
		<key>春字头</key>
		<string>春字头.glif</string>
		<key>曳字底</key>
		<string>曳字底.glif</string>
		<key>曳无丿</key>
		<string>曳无丿.glif</string>
		<key>曾字头无丷</key>
		<string>曾字头无丷.glif</string>
		<key>木无横</key>
		<string>木无横.glif</string>
		<key>木框</key>
		<string>木框.glif</string>
		<key>朱三</key>
		<string>朱三.glif</string>
		<key>横三点</key>
		<string>横三点.glif</string>
		<key>横两撇</key>
		<string>横两撇.glif</string>
		<key>横两点</key>
		<string>横两点.glif</string>
		<key>步字底</key>
		<string>步字底.glif</string>
		<key>歺头</key>
		<string>歺头.glif</string>
		<key>段二</key>
		<string>段二.glif</string>
		<key>段字旁</key>
		<string>段字旁.glif</string>
		<key>毋无框</key>
		<string>毋无框.glif</string>
		<key>毌无框</key>
		<string>毌无框.glif</string>
		<key>比字旁</key>
		<string>比字旁.glif</string>
		<key>民字框</key>
		<string>民字框.glif</string>
		<key>气三</key>
		<string>气三.glif</string>
		<key>水字框</key>
		<string>水字框.glif</string>
		<key>水字边</key>
		<string>水字边.glif</string>
		<key>永无点</key>
		<string>永无点.glif</string>
		<key>烏省</key>
		<string>烏省.glif</string>
		<key>然左角</key>
		<string>然左角.glif</string>
		<key>爱字头</key>
		<string>爱字头.glif</string>
		<key>牙二</key>
		<string>牙二.glif</string>
		<key>牜无丿</key>
		<string>牜无丿.glif</string>
		<key>犀字心头</key>
		<string>犀字心头.glif</string>
		<key>犭二</key>
		<string>犭二.glif</string>
		<key>率字腰</key>
		<string>率字腰.glif</string>
		<key>瓜字心</key>
		<string>瓜字心.glif</string>
		<key>甬字底</key>
		<string>甬字底.glif</string>
		<key>畏字底</key>
		<string>畏字底.glif</string>
		<key>留字头</key>
		<string>留字头.glif</string>
		<key>疏字旁</key>
		<string>疏字旁.glif</string>
		<key>益字头</key>
		<string>益字头.glif</string>
		<key>盥右角</key>
		<string>盥右角.glif</string>
		<key>盥左角</key>
		<string>盥左角.glif</string>
		<key>眉字框</key>
		<string>眉字框.glif</string>
		<key>矛无龴</key>
		<string>矛无龴.glif</string>
		<key>祭字头</key>
		<string>祭字头.glif</string>
		<key>禺字底</key>
		<string>禺字底.glif</string>
		<key>禾框</key>
		<string>禾框.glif</string>
		<key>立无横</key>
		<string>立无横.glif</string>
		<key>竹头</key>
		<string>竹头.glif</string>
		<key>索字头</key>
		<string>索字头.glif</string>
		<key>经右角</key>
		<string>经右角.glif</string>
		<key>网字心</key>
		<string>网字心.glif</string>
		<key>美字头</key>
		<string>美字头.glif</string>
		<key>聿三</key>
		<string>聿三.glif</string>
		<key>臦字旁</key>
		<string>臦字旁.glif</string>
		<key>臧字框</key>
		<string>臧字框.glif</string>
		<key>臼裂</key>
		<string>臼裂.glif</string>
		<key>舆字头框</key>
		<string>舆字头框.glif</string>
		<key>舍字底</key>
		<string>舍字底.glif</string>
		<key>舞字头</key>
		<string>舞字头.glif</string>
		<key>舟无撇</key>
		<string>舟无撇.glif</string>
		<key>节字底</key>
		<string>节字底.glif</string>
		<key>芈二</key>
		<string>芈二.glif</string>
		<key>荒字底</key>
		<string>荒字底.glif</string>
		<key>荧字头</key>
		<string>荧字头.glif</string>
		<key>虍无七</key>
		<string>虍无七.glif</string>
		<key>虐字底</key>
		<string>虐字底.glif</string>
		<key>虫无口</key>
		<string>虫无口.glif</string>
		<key>衡字心</key>
		<string>衡字心.glif</string>
		<key>衣省</key>
		<string>衣省.glif</string>
		<key>衣省变</key>
		<string>衣省变.glif</string>
		<key>衰字腰</key>
		<string>衰字腰.glif</string>
		<key>西字心</key>
		<string>西字心.glif</string>
		<key>见二</key>
		<string>见二.glif</string>
		<key>览字头</key>
		<string>览字头.glif</string>
		<key>谷字头</key>
		<string>谷字头.glif</string>
		<key>豕省</key>
		<string>豕省.glif</string>
		<key>豸字底</key>
		<string>豸字底.glif</string>
		<key>负字头</key>
		<string>负字头.glif</string>
		<key>贤字头</key>
		<string>贤字头.glif</string>
		<key>贵字头</key>
		<string>贵字头.glif</string>
		<key>赢字框</key>
		<string>赢字框.glif</string>
		<key>足旁</key>
		<string>足旁.glif</string>
		<key>身字框</key>
		<string>身字框.glif</string>
		<key>车旁</key>
		<string>车旁.glif</string>
		<key>载字框</key>
		<string>载字框.glif</string>
		<key>辛旁</key>
		<string>辛旁.glif</string>
		<key>辟字旁</key>
		<string>辟字旁.glif</string>
		<key>追字心</key>
		<string>追字心.glif</string>
		<key>那字旁</key>
		<string>那字旁.glif</string>
		<key>里无日</key>
		<string>里无日.glif</string>
		<key>金字底</key>
		<string>金字底.glif</string>
		<key>镸无厶</key>
		<string>镸无厶.glif</string>
		<key>門字旁</key>
		<string>門字旁.glif</string>
		<key>門字边</key>
		<string>門字边.glif</string>
		<key>隶字框</key>
		<string>隶字框.glif</string>
		<key>隹字边</key>
		<string>隹字边.glif</string>
		<key>雨头</key>
		<string>雨头.glif</string>
		<key>青字底</key>
		<string>青字底.glif</string>
		<key>韦无二</key>
		<string>韦无二.glif</string>
		<key>颐字旁</key>
		<string>颐字旁.glif</string>
		<key>风省</key>
		<string>风省.glif</string>
		<key>飞无折</key>
		<string>飞无折.glif</string>
		<key>馬字框</key>
		<string>馬字框.glif</string>
		<key>马二</key>
		<string>马二.glif</string>
		<key>骨字头</key>
		<string>骨字头.glif</string>
		<key>高头</key>
		<string>高头.glif</string>
		<key>鬯四点</key>
		<string>鬯四点.glif</string>
		<key>鱼省</key>
		<string>鱼省.glif</string>
		<key>鳏下角</key>
		<string>鳏下角.glif</string>
		<key>鳥省</key>
		<string>鳥省.glif</string>
		<key>鸟省</key>
		<string>鸟省.glif</string>
		<key>鹿字框</key>
		<string>鹿字框.glif</string>
		<key>鹿旁</key>
		<string>鹿旁.glif</string>
		<key>黎右角</key>
		<string>黎右角.glif</string>
		<key>黑五</key>
		<string>黑五.glif</string>
		<key>黽左角</key>
		<string>黽左角.glif</string>
		<key>鼎右角</key>
		<string>鼎右角.glif</string>
		<key>鼎字框</key>
		<string>鼎字框.glif</string>
		<key>鼎左角</key>
		<string>鼎左角.glif</string>
		<key>鼠字底</key>
		<string>鼠字底.glif</string>
		<key>齿字底</key>
		<string>齿字底.glif</string>
		<key>龍字边</key>
		<string>龍字边.glif</string>
		<key>龙下角</key>
		<string>龙下角.glif</string>
		<key>龟字底</key>
		<string>龟字底.glif</string>
		<key>龠字腰</key>
		<string>龠字腰.glif</string>
		<key>𠕉字底</key>
		<string>𠕉字底.glif</string>
	</dict>
</plist>
