<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>880</integer>
		<key>capHeight</key>
		<integer>729</integer>
		<key>copyright</key>
		<string>© 2026 汉字自动拆分系统 (https://chaifen.app).</string>
		<key>descender</key>
		<integer>-120</integer>
		<key>familyName</key>
		<string>Chai Serif</string>
		<key>openTypeHeadCreated</key>
		<string>2024/07/24 20:27:07</string>
		<key>openTypeHheaAscender</key>
		<integer>1151</integer>
		<key>openTypeHheaDescender</key>
		<integer>-286</integer>
		<key>openTypeOS2Panose</key>
		<array>
			<integer>2</integer>
			<integer>2</integer>
			<integer>5</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>openTypeOS2StrikeoutPosition</key>
		<integer>308</integer>
		<key>openTypeOS2StrikeoutSize</key>
		<integer>50</integer>
		<key>openTypeOS2Type</key>
		<array>
		</array>
		<key>openTypeOS2TypoAscender</key>
		<integer>880</integer>
		<key>openTypeOS2TypoDescender</key>
		<integer>-120</integer>
		<key>openTypeOS2TypoLineGap</key>
		<integer>0</integer>
		<key>openTypeOS2UnicodeRanges</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>9</integer>
			<integer>31</integer>
			<integer>35</integer>
			<integer>36</integer>
			<integer>37</integer>
			<integer>38</integer>
			<integer>42</integer>
			<integer>43</integer>
			<integer>45</integer>
			<integer>46</integer>
			<integer>48</integer>
			<integer>49</integer>
			<integer>50</integer>
			<integer>51</integer>
			<integer>54</integer>
			<integer>57</integer>
			<integer>59</integer>
			<integer>60</integer>
			<integer>68</integer>
			<integer>90</integer>
		</array>
		<key>openTypeOS2WeightClass</key>
		<integer>400</integer>
		<key>openTypeOS2WidthClass</key>
		<integer>5</integer>
		<key>openTypeOS2WinAscent</key>
		<integer>1151</integer>
		<key>openTypeOS2WinDescent</key>
		<integer>286</integer>
		<key>postscriptFontName</key>
		<string>ChaiSerif</string>
		<key>postscriptFullName</key>
		<string>Chai Serif</string>
		<key>postscriptUnderlinePosition</key>
		<integer>-75</integer>
		<key>postscriptUnderlineThickness</key>
		<integer>50</integer>
		<key>styleMapStyleName</key>
		<string>regular</string>
		<key>styleName</key>
		<string>Regular</string>
		<key>unitsPerEm</key>
		<integer>1000</integer>
		<key>versionMajor</key>
		<integer>1</integer>
		<key>versionMinor</key>
		<integer>0</integer>
		<key>xHeight</key>
		<integer>514</integer>
	</dict>
</plist>
