<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.schriftgestaltung.appVersion</key>
		<string>3525</string>
		<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
		<true/>
		<key>com.schriftgestaltung.fontMasterID</key>
		<string>m01</string>
		<key>com.schriftgestaltung.formatVersion</key>
		<integer>3</integer>
		<key>com.schriftgestaltung.useGlyphOrder</key>
		<true/>
		<key>com.schriftgestaltung.useNiceNames</key>
		<false/>
		<key>org.unifiedfontobject.normalizer.modTimes</key>
		<string>version: 0.6.3
1778859582.7 fontinfo.plist
1778891595.6 layercontents.plist
1778859582.7 metainfo.plist</string>
		<key>public.glyphOrder</key>
		<array>
			<string>.notdef</string>
			<string>临字旁</string>
			<string>举字底</string>
			<string>寿字头</string>
			<string>与无横</string>
			<string>禺字底</string>
			<string>享字头</string>
			<string>候右角</string>
			<string>叚右角</string>
			<string>充字头</string>
			<string>养字头</string>
			<string>冒字头</string>
			<string>冬字底</string>
			<string>化字边</string>
			<string>北字旁</string>
			<string>临右角</string>
			<string>卖字头</string>
			<string>南字心</string>
			<string>卢字头</string>
			<string>卯字旁</string>
			<string>印字旁</string>
			<string>即字旁</string>
			<string>负字头</string>
			<string>卸字旁</string>
			<string>寒字腰带八</string>
			<string>丝左角</string>
			<string>反字框</string>
			<string>变字头</string>
			<string>后字框</string>
			<string>向字框</string>
			<string>告字头</string>
			<string>周字框</string>
			<string>丧字头</string>
			<string>囱字框</string>
			<string>在字框</string>
			<string>眉字框</string>
			<string>壳字头</string>
			<string>夜下角</string>
			<string>妻字头</string>
			<string>姊字边</string>
			<string>无三</string>
			<string>定字底</string>
			<string>寒字头</string>
			<string>尚字头</string>
			<string>尧字头</string>
			<string>展字心</string>
			<string>差字头</string>
			<string>大框</string>
			<string>师字旁</string>
			<string>应字心</string>
			<string>延字心</string>
			<string>弟省</string>
			<string>彀左角</string>
			<string>木框</string>
			<string>虫无口</string>
			<string>带字头</string>
			<string>恭字底</string>
			<string>惠字头</string>
			<string>立无横</string>
			<string>扁字心</string>
			<string>卬字旁</string>
			<string>永无点</string>
			<string>拜字边</string>
			<string>凸无横</string>
			<string>敖字旁</string>
			<string>凹无横</string>
			<string>丙三</string>
			<string>春字头</string>
			<string>左字框</string>
			<string>卑六</string>
			<string>叚字旁无二</string>
			<string>拣字边无七</string>
			<string>争字底</string>
			<string>妻字头无横</string>
			<string>临下角</string>
			<string>囊字头</string>
			<string>步字底</string>
			<string>段字旁</string>
			<string>卧人</string>
			<string>比字旁</string>
			<string>韦无二</string>
			<string>旅下角</string>
			<string>荒字底</string>
			<string>芈二</string>
			<string>然左角</string>
			<string>飞无折</string>
			<string>刀中</string>
			<string>甬字底</string>
			<string>疏字旁</string>
			<string>屯无横</string>
			<string>美字头</string>
			<string>盥右角</string>
			<string>盥左角</string>
			<string>歺头</string>
			<string>祭字头</string>
			<string>竹头</string>
			<string>索字头</string>
			<string>民字框</string>
			<string>亥无亠无人</string>
			<string>曾字头无丷</string>
			<string>高头</string>
			<string>臧字框</string>
			<string>舆字头框</string>
			<string>舞字头</string>
			<string>节字底</string>
			<string>虐字底</string>
			<string>衣省</string>
			<string>衰字腰</string>
			<string>亦字底无八</string>
			<string>览字头</string>
			<string>黽左角</string>
			<string>贵字头</string>
			<string>舍字底</string>
			<string>尚头</string>
			<string>足旁</string>
			<string>车旁</string>
			<string>辛旁</string>
			<string>追字心</string>
			<string>那字旁</string>
			<string>金字底</string>
			<string>雨头</string>
			<string>青字底</string>
			<string>颐字旁</string>
			<string>风省</string>
			<string>鳥省</string>
			<string>鳏下角</string>
			<string>鸟省</string>
			<string>鹿字框</string>
			<string>黎右角</string>
			<string>鼎右角</string>
			<string>鼎左角</string>
			<string>鼠字底</string>
			<string>乔字底</string>
			<string>龠字腰</string>
			<string>龟字底</string>
			<string>矛无龴</string>
			<string>隶字框</string>
			<string>典字头带横</string>
			<string>镸无厶</string>
			<string>发无又</string>
			<string>气三</string>
			<string>免字底</string>
			<string>噩字框</string>
			<string>彧字框</string>
			<string>衣省变</string>
			<string>䏓字旁</string>
			<string>龍字边</string>
			<string>臦字旁</string>
			<string>㳈字边</string>
			<string>曳无丿</string>
			<string>埓上角</string>
			<string>虍无七</string>
			<string>馬字框</string>
			<string>烏省</string>
			<string>門字旁</string>
			<string>門字边</string>
			<string>骨字头</string>
			<string>豸字底</string>
			<string>曳字底</string>
			<string>弟省无弓</string>
			<string>西字心</string>
			<string>乌省</string>
			<string>別字旁底</string>
			<string>犀字心头</string>
			<string>千二</string>
			<string>丘无横</string>
			<string>为字框</string>
			<string>段二</string>
			<string>业无横</string>
			<string>乐二</string>
			<string>余字底</string>
			<string>朱三</string>
			<string>夫三</string>
			<string>年字底</string>
			<string>于无横</string>
			<string>其字头</string>
			<string>寒字腰</string>
			<string>东二</string>
			<string>牙二</string>
			<string>具字头</string>
			<string>三竖</string>
			<string>四竖</string>
			<string>身字框</string>
			<string>横两撇</string>
			<string>豕省</string>
			<string>臼裂</string>
			<string>畏字底</string>
			<string>久二</string>
			<string>鱼省</string>
			<string>犭二</string>
			<string>万无横</string>
			<string>隹字边</string>
			<string>牜无丿</string>
			<string>舟无撇</string>
			<string>率字腰</string>
			<string>水字框</string>
			<string>学字头</string>
			<string>亦字底</string>
			<string>变字头无亠</string>
			<string>兼无䒑无彐</string>
			<string>聿三</string>
			<string>录字头</string>
			<string>经右角</string>
			<string>马二</string>
			<string>黑五</string>
			<string>水字边</string>
			<string>见二</string>
			<string>里无日</string>
			<string>全字头</string>
			<string>龙下角</string>
			<string>及二</string>
			<string>少三</string>
			<string>毋无框</string>
			<string>瓜字心</string>
			<string>木无横</string>
			<string>横两点</string>
			<string>鬯四点</string>
			<string>横三点</string>
			<string>禾框</string>
			<string>以字旁</string>
			<string>延字心无撇</string>
			<string>毌无框</string>
			<string>同字心</string>
			<string>亮字头</string>
			<string>修字旁</string>
			<string>学无子</string>
			<string>微字框</string>
			<string>赢字框</string>
			<string>鹿旁</string>
			<string>度字框</string>
			<string>奐字腰</string>
			<string>爱字头</string>
			<string>留字头</string>
			<string>益字头</string>
			<string>网字心</string>
			<string>荧字头</string>
			<string>谷字头</string>
			<string>贤字头</string>
			<string>载字框</string>
			<string>辟字旁</string>
			<string>鼎字框</string>
			<string>齿字底</string>
			<string>丽下角</string>
			<string>傻下角</string>
			<string>山一</string>
			<string>衡字心</string>
			<string>𠕉字底</string>
		</array>
		<key>public.postscriptNames</key>
		<dict>
			<key>㳈字边</key>
			<string>uniE130</string>
			<key>䏓字旁</key>
			<string>uniE10B</string>
			<key>万无横</key>
			<string>uniE427</string>
			<key>三竖</key>
			<string>uniE41A</string>
			<key>与无横</key>
			<string>uniE004</string>
			<key>丘无横</key>
			<string>uniE400</string>
			<key>丙三</key>
			<string>uniE063</string>
			<key>业无横</key>
			<string>uniE408</string>
			<key>东二</key>
			<string>uniE416</string>
			<key>丝左角</key>
			<string>uniE023</string>
			<key>丧字头</key>
			<string>uniE02C</string>
			<key>临下角</key>
			<string>uniE070</string>
			<key>临右角</key>
			<string>uniE014</string>
			<key>临字旁</key>
			<string>uniE001</string>
			<key>为字框</key>
			<string>uniE401</string>
			<key>丽下角</key>
			<string>uniE988</string>
			<key>举字底</key>
			<string>uniE002</string>
			<key>久二</key>
			<string>uniE423</string>
			<key>乌省</key>
			<string>uniE186</string>
			<key>乐二</key>
			<string>uniE40C</string>
			<key>乔字底</key>
			<string>uniE0E3</string>
			<key>争字底</key>
			<string>uniE06D</string>
			<key>于无横</key>
			<string>uniE413</string>
			<key>亥无亠无人</key>
			<string>uniE0A7</string>
			<key>亦字底</key>
			<string>uniE42E</string>
			<key>亦字底无八</key>
			<string>uniE0BA</string>
			<key>享字头</key>
			<string>uniE006</string>
			<key>亮字头</key>
			<string>uniE804</string>
			<key>以字旁</key>
			<string>uniE44F</string>
			<key>余字底</key>
			<string>uniE40E</string>
			<key>修字旁</key>
			<string>uniE80E</string>
			<key>候右角</key>
			<string>uniE007</string>
			<key>傻下角</key>
			<string>uniE989</string>
			<key>充字头</key>
			<string>uniE00A</string>
			<key>免字底</key>
			<string>uniE100</string>
			<key>全字头</key>
			<string>uniE43D</string>
			<key>其字头</key>
			<string>uniE414</string>
			<key>具字头</key>
			<string>uniE419</string>
			<key>典字头带横</key>
			<string>uniE0F4</string>
			<key>养字头</key>
			<string>uniE00B</string>
			<key>兼无䒑无彐</key>
			<string>uniE430</string>
			<key>冒字头</key>
			<string>uniE00C</string>
			<key>冬字底</key>
			<string>uniE00D</string>
			<key>凸无横</key>
			<string>uniE05D</string>
			<key>凹无横</key>
			<string>uniE060</string>
			<key>刀中</key>
			<string>uniE089</string>
			<key>別字旁底</key>
			<string>uniE18C</string>
			<key>化字边</key>
			<string>uniE011</string>
			<key>北字旁</key>
			<string>uniE012</string>
			<key>千二</key>
			<string>uniE195</string>
			<key>卑六</key>
			<string>uniE069</string>
			<key>卖字头</key>
			<string>uniE015</string>
			<key>南字心</key>
			<string>uniE016</string>
			<key>卢字头</key>
			<string>uniE018</string>
			<key>卧人</key>
			<string>uniE078</string>
			<key>卬字旁</key>
			<string>uniE057</string>
			<key>卯字旁</key>
			<string>uniE01A</string>
			<key>印字旁</key>
			<string>uniE01B</string>
			<key>即字旁</key>
			<string>uniE01C</string>
			<key>卸字旁</key>
			<string>uniE021</string>
			<key>及二</key>
			<string>uniE441</string>
			<key>反字框</key>
			<string>uniE024</string>
			<key>发无又</key>
			<string>uniE0FD</string>
			<key>变字头</key>
			<string>uniE025</string>
			<key>变字头无亠</key>
			<string>uniE42F</string>
			<key>叚右角</key>
			<string>uniE009</string>
			<key>叚字旁无二</key>
			<string>uniE06B</string>
			<key>同字心</key>
			<string>uniE800</string>
			<key>后字框</key>
			<string>uniE027</string>
			<key>向字框</key>
			<string>uniE028</string>
			<key>告字头</key>
			<string>uniE029</string>
			<key>周字框</key>
			<string>uniE02A</string>
			<key>噩字框</key>
			<string>uniE102</string>
			<key>囊字头</key>
			<string>uniE072</string>
			<key>四竖</key>
			<string>uniE41B</string>
			<key>囱字框</key>
			<string>uniE02D</string>
			<key>在字框</key>
			<string>uniE02E</string>
			<key>埓上角</key>
			<string>uniE14F</string>
			<key>壳字头</key>
			<string>uniE032</string>
			<key>夜下角</key>
			<string>uniE034</string>
			<key>大框</key>
			<string>uniE043</string>
			<key>夫三</key>
			<string>uniE410</string>
			<key>奐字腰</key>
			<string>uniE89A</string>
			<key>妻字头</key>
			<string>uniE035</string>
			<key>妻字头无横</key>
			<string>uniE06E</string>
			<key>姊字边</key>
			<string>uniE036</string>
			<key>学字头</key>
			<string>uniE42D</string>
			<key>学无子</key>
			<string>uniE815</string>
			<key>定字底</key>
			<string>uniE03A</string>
			<key>寒字头</key>
			<string>uniE03C</string>
			<key>寒字腰</key>
			<string>uniE415</string>
			<key>寒字腰带八</key>
			<string>uniE022</string>
			<key>寿字头</key>
			<string>uniE003</string>
			<key>少三</key>
			<string>uniE442</string>
			<key>尚头</key>
			<string>uniE0C3</string>
			<key>尚字头</key>
			<string>uniE03E</string>
			<key>尧字头</key>
			<string>uniE03F</string>
			<key>展字心</key>
			<string>uniE041</string>
			<key>屯无横</key>
			<string>uniE092</string>
			<key>山一</key>
			<string>uniE990</string>
			<key>左字框</key>
			<string>uniE068</string>
			<key>差字头</key>
			<string>uniE042</string>
			<key>师字旁</key>
			<string>uniE044</string>
			<key>带字头</key>
			<string>uniE050</string>
			<key>年字底</key>
			<string>uniE411</string>
			<key>应字心</key>
			<string>uniE046</string>
			<key>度字框</key>
			<string>uniE85E</string>
			<key>延字心</key>
			<string>uniE049</string>
			<key>延字心无撇</key>
			<string>uniE451</string>
			<key>弟省</key>
			<string>uniE04A</string>
			<key>弟省无弓</key>
			<string>uniE17B</string>
			<key>彀左角</key>
			<string>uniE04B</string>
			<key>录字头</key>
			<string>uniE432</string>
			<key>彧字框</key>
			<string>uniE103</string>
			<key>微字框</key>
			<string>uniE824</string>
			<key>恭字底</key>
			<string>uniE051</string>
			<key>惠字头</key>
			<string>uniE052</string>
			<key>扁字心</key>
			<string>uniE055</string>
			<key>拜字边</key>
			<string>uniE05A</string>
			<key>拣字边无七</key>
			<string>uniE06C</string>
			<key>敖字旁</key>
			<string>uniE05F</string>
			<key>旅下角</key>
			<string>uniE07E</string>
			<key>无三</key>
			<string>uniE039</string>
			<key>春字头</key>
			<string>uniE064</string>
			<key>曳字底</key>
			<string>uniE178</string>
			<key>曳无丿</key>
			<string>uniE14C</string>
			<key>曾字头无丷</key>
			<string>uniE0A9</string>
			<key>木无横</key>
			<string>uniE445</string>
			<key>木框</key>
			<string>uniE04C</string>
			<key>朱三</key>
			<string>uniE40F</string>
			<key>横三点</key>
			<string>uniE448</string>
			<key>横两撇</key>
			<string>uniE41E</string>
			<key>横两点</key>
			<string>uniE446</string>
			<key>步字底</key>
			<string>uniE073</string>
			<key>歺头</key>
			<string>uniE098</string>
			<key>段二</key>
			<string>uniE404</string>
			<key>段字旁</key>
			<string>uniE075</string>
			<key>毋无框</key>
			<string>uniE443</string>
			<key>毌无框</key>
			<string>uniE452</string>
			<key>比字旁</key>
			<string>uniE079</string>
			<key>民字框</key>
			<string>uniE0A3</string>
			<key>气三</key>
			<string>uniE0FF</string>
			<key>水字框</key>
			<string>uniE42C</string>
			<key>水字边</key>
			<string>uniE438</string>
			<key>永无点</key>
			<string>uniE059</string>
			<key>烏省</key>
			<string>uniE159</string>
			<key>然左角</key>
			<string>uniE083</string>
			<key>爱字头</key>
			<string>uniE8C6</string>
			<key>牙二</key>
			<string>uniE418</string>
			<key>牜无丿</key>
			<string>uniE429</string>
			<key>犀字心头</key>
			<string>uniE18E</string>
			<key>犭二</key>
			<string>uniE426</string>
			<key>率字腰</key>
			<string>uniE42B</string>
			<key>瓜字心</key>
			<string>uniE444</string>
			<key>甬字底</key>
			<string>uniE08C</string>
			<key>畏字底</key>
			<string>uniE422</string>
			<key>留字头</key>
			<string>uniE8D9</string>
			<key>疏字旁</key>
			<string>uniE091</string>
			<key>益字头</key>
			<string>uniE8E2</string>
			<key>盥右角</key>
			<string>uniE094</string>
			<key>盥左角</key>
			<string>uniE095</string>
			<key>眉字框</key>
			<string>uniE031</string>
			<key>矛无龴</key>
			<string>uniE0EF</string>
			<key>祭字头</key>
			<string>uniE09B</string>
			<key>禺字底</key>
			<string>uniE005</string>
			<key>禾框</key>
			<string>uniE44B</string>
			<key>立无横</key>
			<string>uniE054</string>
			<key>竹头</key>
			<string>uniE09E</string>
			<key>索字头</key>
			<string>uniE0A0</string>
			<key>经右角</key>
			<string>uniE434</string>
			<key>网字心</key>
			<string>uniE8FF</string>
			<key>美字头</key>
			<string>uniE093</string>
			<key>聿三</key>
			<string>uniE431</string>
			<key>臦字旁</key>
			<string>uniE11C</string>
			<key>臧字框</key>
			<string>uniE0AD</string>
			<key>臼裂</key>
			<string>uniE421</string>
			<key>舆字头框</key>
			<string>uniE0AF</string>
			<key>舍字底</key>
			<string>uniE0C2</string>
			<key>舞字头</key>
			<string>uniE0B1</string>
			<key>舟无撇</key>
			<string>uniE42A</string>
			<key>节字底</key>
			<string>uniE0B2</string>
			<key>芈二</key>
			<string>uniE081</string>
			<key>荒字底</key>
			<string>uniE07F</string>
			<key>荧字头</key>
			<string>uniE916</string>
			<key>虍无七</key>
			<string>uniE153</string>
			<key>虐字底</key>
			<string>uniE0B4</string>
			<key>虫无口</key>
			<string>uniE04D</string>
			<key>衡字心</key>
			<string>uniE9F0</string>
			<key>衣省</key>
			<string>uniE0B7</string>
			<key>衣省变</key>
			<string>uniE106</string>
			<key>衰字腰</key>
			<string>uniE0B8</string>
			<key>西字心</key>
			<string>uniE17E</string>
			<key>见二</key>
			<string>uniE439</string>
			<key>览字头</key>
			<string>uniE0BB</string>
			<key>谷字头</key>
			<string>uniE948</string>
			<key>豕省</key>
			<string>uniE420</string>
			<key>豸字底</key>
			<string>uniE176</string>
			<key>负字头</key>
			<string>uniE020</string>
			<key>贤字头</key>
			<string>uniE94C</string>
			<key>贵字头</key>
			<string>uniE0C1</string>
			<key>赢字框</key>
			<string>uniE834</string>
			<key>足旁</key>
			<string>uniE0C6</string>
			<key>身字框</key>
			<string>uniE41D</string>
			<key>车旁</key>
			<string>uniE0C8</string>
			<key>载字框</key>
			<string>uniE950</string>
			<key>辛旁</key>
			<string>uniE0C9</string>
			<key>辟字旁</key>
			<string>uniE952</string>
			<key>追字心</key>
			<string>uniE0CB</string>
			<key>那字旁</key>
			<string>uniE0CD</string>
			<key>里无日</key>
			<string>uniE43A</string>
			<key>金字底</key>
			<string>uniE0CF</string>
			<key>镸无厶</key>
			<string>uniE0FA</string>
			<key>門字旁</key>
			<string>uniE15F</string>
			<key>門字边</key>
			<string>uniE160</string>
			<key>隶字框</key>
			<string>uniE0F1</string>
			<key>隹字边</key>
			<string>uniE428</string>
			<key>雨头</key>
			<string>uniE0D0</string>
			<key>青字底</key>
			<string>uniE0D2</string>
			<key>韦无二</key>
			<string>uniE07B</string>
			<key>颐字旁</key>
			<string>uniE0D5</string>
			<key>风省</key>
			<string>uniE0D6</string>
			<key>飞无折</key>
			<string>uniE088</string>
			<key>馬字框</key>
			<string>uniE157</string>
			<key>马二</key>
			<string>uniE435</string>
			<key>骨字头</key>
			<string>uniE16C</string>
			<key>高头</key>
			<string>uniE0AC</string>
			<key>鬯四点</key>
			<string>uniE447</string>
			<key>鱼省</key>
			<string>uniE425</string>
			<key>鳏下角</key>
			<string>uniE0D9</string>
			<key>鳥省</key>
			<string>uniE0D7</string>
			<key>鸟省</key>
			<string>uniE0DA</string>
			<key>鹿字框</key>
			<string>uniE0DC</string>
			<key>鹿旁</key>
			<string>uniE838</string>
			<key>黎右角</key>
			<string>uniE0DE</string>
			<key>黑五</key>
			<string>uniE436</string>
			<key>黽左角</key>
			<string>uniE0BF</string>
			<key>鼎右角</key>
			<string>uniE0E0</string>
			<key>鼎字框</key>
			<string>uniE985</string>
			<key>鼎左角</key>
			<string>uniE0E1</string>
			<key>鼠字底</key>
			<string>uniE0E2</string>
			<key>齿字底</key>
			<string>uniE986</string>
			<key>龍字边</key>
			<string>uniE10C</string>
			<key>龙下角</key>
			<string>uniE43F</string>
			<key>龟字底</key>
			<string>uniE0EC</string>
			<key>龠字腰</key>
			<string>uniE0E4</string>
			<key>𠕉字底</key>
			<string>uF022F</string>
		</dict>
	</dict>
</plist>
