<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>org.unifiedfontobject.normalizer.modTimes</key>
		<string>version: 0.6.3
1778874901.3 fontinfo.plist
1778891595.5 layercontents.plist
1778874901.3 metainfo.plist</string>
		<key>public.glyphOrder</key>
		<array>
			<string>.notdef</string>
			<string>临字旁</string>
			<string>举字底</string>
			<string>寿字头</string>
			<string>与无横</string>
			<string>享字头</string>
			<string>候右角</string>
			<string>充字头</string>
			<string>冒字头</string>
			<string>免五</string>
			<string>化字边</string>
			<string>北字旁</string>
			<string>临右角</string>
			<string>南字心</string>
			<string>印字旁</string>
			<string>即字旁</string>
			<string>卸字旁</string>
			<string>寒字腰带八</string>
			<string>丝左角</string>
			<string>变字头</string>
			<string>叟字头</string>
			<string>周字框</string>
			<string>叚字旁</string>
			<string>在字框</string>
			<string>鬲字心</string>
			<string>眉字框</string>
			<string>壳字头</string>
			<string>夜下角</string>
			<string>无三</string>
			<string>定字底</string>
			<string>尧字头</string>
			<string>大框</string>
			<string>师字旁</string>
			<string>应字心</string>
			<string>弟省</string>
			<string>木框</string>
			<string>虫无口</string>
			<string>发二</string>
			<string>带字头</string>
			<string>惠字头</string>
			<string>立无横</string>
			<string>扁字心</string>
			<string>卬字旁</string>
			<string>永无点</string>
			<string>凸无横</string>
			<string>凹无横</string>
			<string>左字框</string>
			<string>叚字旁无二</string>
			<string>拣字边无七</string>
			<string>争字底</string>
			<string>妻字头无横</string>
			<string>临下角</string>
			<string>步字底</string>
			<string>武字框</string>
			<string>段字旁</string>
			<string>卧人</string>
			<string>比字旁</string>
			<string>韦无二</string>
			<string>旅下角</string>
			<string>荒字底</string>
			<string>然左角</string>
			<string>飞无折</string>
			<string>刀中</string>
			<string>璺字头框</string>
			<string>甬字底</string>
			<string>畏字底带横</string>
			<string>留上角</string>
			<string>屯无横</string>
			<string>盥左角</string>
			<string>具字头无横</string>
			<string>祭字头</string>
			<string>面字心</string>
			<string>索字头</string>
			<string>民字框</string>
			<string>舞字头无卧人</string>
			<string>高头</string>
			<string>臧字框</string>
			<string>舆字头框</string>
			<string>节字底</string>
			<string>虐字底</string>
			<string>衣省</string>
			<string>衰字腰</string>
			<string>黽左角</string>
			<string>贵字头</string>
			<string>舍字底</string>
			<string>尚头</string>
			<string>车旁</string>
			<string>辛旁</string>
			<string>金字底</string>
			<string>亙无二</string>
			<string>颐字旁</string>
			<string>鳥省</string>
			<string>鬯字头无凵</string>
			<string>鳏下角</string>
			<string>鸟省</string>
			<string>鹿字框</string>
			<string>黎右角</string>
			<string>鼎右角</string>
			<string>鼎左角</string>
			<string>鼠字底</string>
			<string>乔字底</string>
			<string>五无横</string>
			<string>隶字框</string>
			<string>典字头带横</string>
			<string>囊字头无冖</string>
			<string>憂字头</string>
			<string>龍字边</string>
			<string>畫字头</string>
			<string>臦字旁</string>
			<string>刋字旁</string>
			<string>虛字底</string>
			<string>厯字底</string>
			<string>㒫字头</string>
			<string>斲字旁</string>
			<string>亜无一</string>
			<string>亞无一</string>
			<string>馬字框</string>
			<string>叏字头</string>
			<string>黽字心</string>
			<string>畱字头</string>
			<string>龜字心无撇</string>
			<string>鬬字心旁</string>
			<string>弟省无弓</string>
			<string>乑无丿</string>
			<string>丘无横</string>
			<string>业无横</string>
			<string>乐二</string>
			<string>余字底</string>
			<string>朱三</string>
			<string>夫三</string>
			<string>年字底</string>
			<string>于无横</string>
			<string>寒字腰</string>
			<string>东二</string>
			<string>弋二</string>
			<string>具字头</string>
			<string>横两撇</string>
			<string>且无横</string>
			<string>豕省</string>
			<string>臼裂</string>
			<string>畏字底</string>
			<string>久二</string>
			<string>鱼省</string>
			<string>万无横</string>
			<string>率字腰</string>
			<string>水字框</string>
			<string>亦字底</string>
			<string>变字头无亠</string>
			<string>兼无䒑无彐</string>
			<string>聿三</string>
			<string>录字头</string>
			<string>马二</string>
			<string>见二</string>
			<string>及二</string>
			<string>少三</string>
			<string>横两点</string>
			<string>横三点</string>
			<string>禾框</string>
			<string>典字头</string>
			<string>以字旁</string>
			<string>共字底</string>
			<string>延字心无撇</string>
			<string>爱字头</string>
			<string>同字心</string>
			<string>亮字头</string>
			<string>学无子</string>
			<string>㒳字框</string>
			<string>留字头</string>
			<string>益字头</string>
			<string>豆无横</string>
			<string>巤字底</string>
			<string>丽下角</string>
			<string>頁变</string>
			<string>山一</string>
			<string>养字头</string>
		</array>
	</dict>
</plist>
