<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>org.unifiedfontobject.normalizer.modTimes</key>
		<string>version: 0.6.3
1779072772.9 fontinfo.plist
1779072772.9 layercontents.plist
1779072772.9 metainfo.plist</string>
		<key>public.glyphOrder</key>
		<array>
			<string>.notdef</string>
			<string>斜玉</string>
			<string>临字旁</string>
			<string>举字底</string>
			<string>寿字头</string>
			<string>与无横</string>
			<string>禺字底</string>
			<string>享字头</string>
			<string>候右角</string>
			<string>叚右角</string>
			<string>充字头</string>
			<string>养字头</string>
			<string>冒字头</string>
			<string>冬字底</string>
			<string>免五</string>
			<string>化字边</string>
			<string>北字旁</string>
			<string>临右角</string>
			<string>南字心</string>
			<string>卢字头</string>
			<string>飮字旁</string>
			<string>卯字旁</string>
			<string>印字旁</string>
			<string>即字旁</string>
			<string>祭右角</string>
			<string>负字头</string>
			<string>卸字旁</string>
			<string>寒字腰带八</string>
			<string>丝左角</string>
			<string>反字框</string>
			<string>变字头</string>
			<string>叟字头</string>
			<string>向字框</string>
			<string>告字头</string>
			<string>周字框</string>
			<string>叚字旁</string>
			<string>囱字框</string>
			<string>在字框</string>
			<string>鬲字心</string>
			<string>眉字框</string>
			<string>壳字头</string>
			<string>夏字头</string>
			<string>夜下角</string>
			<string>妻字头</string>
			<string>姊字边</string>
			<string>无三</string>
			<string>定字底</string>
			<string>寡字腰</string>
			<string>尚字头</string>
			<string>尧字头</string>
			<string>差字头</string>
			<string>大框</string>
			<string>师字旁</string>
			<string>带无巾</string>
			<string>应字心</string>
			<string>弟省</string>
			<string>木框</string>
			<string>虫无口</string>
			<string>发二</string>
			<string>带字头</string>
			<string>恭字底</string>
			<string>惠字头</string>
			<string>立无横</string>
			<string>扁字心</string>
			<string>卬字旁</string>
			<string>永无点</string>
			<string>牜无丨</string>
			<string>凸无横</string>
			<string>商字头</string>
			<string>凹无横</string>
			<string>帝字头</string>
			<string>丙三</string>
			<string>春字头</string>
			<string>帶字头无一</string>
			<string>曹字头</string>
			<string>曾字头</string>
			<string>左字框</string>
			<string>卑六</string>
			<string>叚字旁无二</string>
			<string>拣字边无七</string>
			<string>争字底</string>
			<string>妻字头无横</string>
			<string>临下角</string>
			<string>姊字边无丨丿</string>
			<string>囊字头</string>
			<string>步字底</string>
			<string>武字框</string>
			<string>段字旁</string>
			<string>纵两撇</string>
			<string>卧人</string>
			<string>比字旁</string>
			<string>韦无二</string>
			<string>乍字底</string>
			<string>旅下角</string>
			<string>荒字底</string>
			<string>然左角</string>
			<string>木无十</string>
			<string>飞无折</string>
			<string>刀中</string>
			<string>璺字头框</string>
			<string>甬字底</string>
			<string>畏字底带横</string>
			<string>留上角</string>
			<string>疏字旁</string>
			<string>屯无横</string>
			<string>美字头</string>
			<string>盥左角</string>
			<string>其字头无横</string>
			<string>歺头</string>
			<string>具字头无横</string>
			<string>祭字头</string>
			<string>面字心</string>
			<string>倉字腰带丶</string>
			<string>竹头</string>
			<string>索字头</string>
			<string>民字框</string>
			<string>曾字头无丷</string>
			<string>舞字头无卧人</string>
			<string>高头</string>
			<string>臧字框</string>
			<string>舆字头框</string>
			<string>节字底</string>
			<string>虐字底</string>
			<string>衣省</string>
			<string>衰字腰</string>
			<string>亦字底无八</string>
			<string>尔字头</string>
			<string>㠯三</string>
			<string>黽左角</string>
			<string>贵字头</string>
			<string>舍字底</string>
			<string>尚头</string>
			<string>足旁</string>
			<string>臣字心</string>
			<string>车旁</string>
			<string>辛旁</string>
			<string>追字心</string>
			<string>金字底</string>
			<string>雨头</string>
			<string>亙无二</string>
			<string>青字底</string>
			<string>颐字旁</string>
			<string>风省</string>
			<string>鳥省</string>
			<string>鬯字头无凵</string>
			<string>鳏下角</string>
			<string>鸟省</string>
			<string>鹿字框</string>
			<string>黎右角</string>
			<string>鼎右角</string>
			<string>鼎左角</string>
			<string>鼠字底</string>
			<string>乔字底</string>
			<string>癶右半</string>
			<string>五无横</string>
			<string>龟字底</string>
			<string>鬼无厶</string>
			<string>隶字框</string>
			<string>典字头带横</string>
			<string>囊字头无冖</string>
			<string>尤无折</string>
			<string>发无又</string>
			<string>噩字框</string>
			<string>憂字头</string>
			<string>衣省变</string>
			<string>䏓字旁</string>
			<string>龍字边</string>
			<string>倉字腰</string>
			<string>帶字头</string>
			<string>䯬下角</string>
			<string>畫字头</string>
			<string>婁字头无口</string>
			<string>弬字边心</string>
			<string>臦字旁</string>
			<string>刋字旁</string>
			<string>虛字底</string>
			<string>厯字底</string>
			<string>臦字旁心</string>
			<string>㒫字头</string>
			<string>盡字头无灬</string>
			<string>斲字旁</string>
			<string>㳈字边</string>
			<string>弬字边</string>
			<string>亜无一</string>
			<string>亞无一</string>
			<string>曳无丿</string>
			<string>恭字底无丶</string>
			<string>爿旁</string>
			<string>埓上角</string>
			<string>虍无七</string>
			<string>簔字底心</string>
			<string>馬字框</string>
			<string>烏省</string>
			<string>叏字头</string>
			<string>黽字心</string>
			<string>畱字头</string>
			<string>韋字头</string>
			<string>龜字心无撇</string>
			<string>鬬字心旁</string>
			<string>弟省无弓</string>
			<string>西字心</string>
			<string>耉字框无耂</string>
			<string>惠字头无点</string>
			<string>亥三</string>
			<string>仺字底</string>
			<string>雋字底</string>
			<string>㐆无折</string>
			<string>別字旁底</string>
			<string>犀字心头</string>
			<string>戈无一</string>
			<string>颐字旁心</string>
			<string>虛字底无一</string>
			<string>亚三</string>
			<string>宐字底无横</string>
			<string>井变</string>
			<string>乑无丿</string>
			<string>丘无横</string>
			<string>为字框</string>
			<string>段二</string>
			<string>母二</string>
			<string>毌二</string>
			<string>业无横</string>
			<string>乐二</string>
			<string>余字底</string>
			<string>朱三</string>
			<string>夫三</string>
			<string>年字底</string>
			<string>于无横</string>
			<string>其字头</string>
			<string>寒字腰</string>
			<string>东二</string>
			<string>弋二</string>
			<string>牙二</string>
			<string>具字头</string>
			<string>三竖</string>
			<string>横两撇</string>
			<string>且无横</string>
			<string>豕省</string>
			<string>臼裂</string>
			<string>畏字底</string>
			<string>久二</string>
			<string>见字底</string>
			<string>鱼省</string>
			<string>万无横</string>
			<string>率字腰</string>
			<string>水字框</string>
			<string>学字头</string>
			<string>亦字底</string>
			<string>变字头无亠</string>
			<string>兼无䒑无彐</string>
			<string>聿三</string>
			<string>录字头</string>
			<string>经右角</string>
			<string>马二</string>
			<string>黑五</string>
			<string>止旁</string>
			<string>见二</string>
			<string>里无日</string>
			<string>全字头</string>
			<string>龙下角</string>
			<string>互无二</string>
			<string>及二</string>
			<string>少三</string>
			<string>毋无框</string>
			<string>横两点</string>
			<string>横三点</string>
			<string>禾框</string>
			<string>贲字腰</string>
			<string>典字头</string>
			<string>以字旁</string>
			<string>共字底</string>
			<string>延字心无撇</string>
			<string>毌无框</string>
			<string>同字心</string>
			<string>亮字头</string>
			<string>衣框</string>
			<string>修字旁</string>
			<string>兑字头</string>
			<string>学无子</string>
			<string>落字框</string>
			<string>微字框</string>
			<string>或字心</string>
			<string>爲字底</string>
			<string>周字心</string>
			<string>赢字框</string>
			<string>鹿旁</string>
			<string>比旁</string>
			<string>彀字框无一</string>
			<string>夐字头</string>
			<string>㒳字框</string>
			<string>爱字头</string>
			<string>留字头</string>
			<string>益字头</string>
			<string>荧字头</string>
			<string>豆无横</string>
			<string>巤字底</string>
			<string>黄字底</string>
			<string>丽下角</string>
			<string>兽字头</string>
			<string>頁变</string>
			<string>山一</string>
			<string>為无点</string>
			<string>兪字头</string>
			<string>微字框无一</string>
			<string>龠字头</string>
			<string>齊字头</string>
			<string>襄字头</string>
			<string>㵸字旁头</string>
		</array>
	</dict>
</plist>
